<html>
  <head>
    {% if title %}
    <title>{{ title }} - microblog</title>
    {% else %}
    <title>Welcome to microblog</title>
    {% endif %}
  </head>
  <body>
    <!--script to load Facebokk embed post-->
    <script>(
      function(d, s, id) {  
        var js, fjs = d.getElementsByTagName(s)[0];  
        if (d.getElementById(id)) return;  
        js = d.createElement(s); 
        js.id = id;  
        js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.3";  
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    </script>

    <!-- Your like button code -->
    <div class="fb-like" 
      data-href="https://www.facebook.com/306608096208936/" 
      data-layout="standard" 
      data-action="like" 
      data-show-faces="true">
    </div>
    <br>
    <div class="fb-comments" data-href="https://www.facebook.com/306608096208936_496093210593756/comments" data-numposts="5"></div>

    <h1>Hi, {{ user.nickname }}!</h1>
    
    {% for post in posts %}
    <div align="center">
      <div class="fb-post" data-href= {{ post.url }} data-width="500">
        <div class="fb-xfbml-parse-ignore">
        <!--<blockquote cite={{post.url}}>-->
        <!--Below is for fallback, we dont support fallback-->
        <!--<p>{{ post.text }}</p>-->
        <!--Posted by <a href= {{ post.author_url }} >{{post.author}}</a> on;<a href= {{post.url}}>{{ post.time }}</a> -->
        <!--</blockquote>-->
        </div>
      </div>
    </div>
    <br>
    <table>
      {% for comment in post.comments %}
        <tr>
          <td><b>{{ comment[0] }}</b> says: </td>
          <td>{{ comment[2] }}   </td>
          <td>{{ comment[1] }}</td>
        </tr>
      {% endfor %}
    </table>
    <br><br>
    {% endfor %}
  </body>
</html>
